@import "import_and_variables";

.modal_custom_bg{
    background: rgba($color: #000000, $alpha: 0.8);
}
.carousel-control-next {
    right: -90px!important;
}
.carousel-control-prev {
    left: -90px!important;
}
.modal-dialog{
    max-width: 998px!important;
}
.maximize_images .carousel-item{
 iframe{
    height: 450px;
 }
}
@media screen and (max-width: 998px) {
    .carousel-control-next {
        right: 90px!important;
        bottom: -50px!important;
        top: unset!important;
    }
    .carousel-control-prev {
        left: 90px!important;
        bottom: -50px!important;
        top: unset!important;
    }
}