.container__main {
    width: 100%;
    margin: 0 auto;
  }
  .container__main .card__order {
    width: 100%;
    max-width: 350px;
    margin-top: 30px;
    border: 1px solid #bdd631;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 10px;
  }
  .container__main .card__order:hover {
    border: 1px solid #2b4466;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .container__video {
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
  }
  .container__video iframe {
    width: 100%;
    height: 420px;
  }
  @media (min-width: 335px) and (max-width: 576px) {
    .custom_gap .col-12 {
      width: 50%;
    }
  }
  @media (max-width: 768px) {
    .container__main {
      padding: 0 1rem;
    }
    .container__video {
      padding: 0 1rem;
    }
    .container__video iframe {
      height: 240px;
    }
  }