.content_cards {
    background: white;
    border: 1px solid #bdd631;
    border-radius: 10px;
  }
  .cards_item-delete i {
    font-size: 28px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .my-annonce .cards_item-delete i {
    font-size: 28px;
    color: transparent !important;
    cursor: initial;
  }
  .my-annonce .content_cards{
      background:rgba(189, 214, 49, 0.1)!important;
  }
  .cards_item-delete i:hover {
    transition: 0.3s;
    color: #bdd631;
  }
  .content-card-title {
    color: #2b4466;
  }
  .status-pending {
    color: #e4c900;
  }
  .status-delivery {
    color: #00659c;
  }
  .status-success {
    color: #3c9a09;
  }
  .content-card-img {
    object-fit: cover;
  }
  @media screen and (min-width: 998px) {
    .content-card-img {
      max-width: 250px;
    }
  }
  @media (min-width: 768px) and (max-width: 998px) {
    .content-card-img {
      max-width: 200px;
    }
  }
  @media (min-width: 576px) and (max-width: 768px) {
    .content-card-img {
      max-width: 150px;
    }
  }
  @media (min-width: 500px) and (max-width: 576px) {
    .content-card-img {
      max-width: 250px;
    }
  }
  @media screen and (max-width: 460px) {
    .cards_item-delete {
      display: none;
    }
  }
  @media screen and (max-width: 460px) {
    .profile_cards {
      width: 100%;
    }
    .cards_item-delete {
      display: flex;
      margin-left: 10px;
    }
    .content_cards {
      flex-direction: column;
    }
    .content-card-img {
      max-width: 150px;
    }
  }
  @media screen and (min-width: 460px) {
    .profile_cards {
      width: 100%;
    }
    .cards_item-delete {
      display: flex;
      margin-left: 10px;
    }
    .content_cards {
      flex-direction: row;
    }
    .content-card-img {
      max-width: 200px;
    }
  }
  