 
  .filter_gradient {
    background: -o-linear-gradient(270.25deg, rgba(189, 214, 49, 0.32) 0.22%, rgba(255, 255, 255, 0.08) 33.48%);
    background: linear-gradient(179.75deg, rgba(189, 214, 49, 0.32) 0.22%, rgba(255, 255, 255, 0.08) 33.48%);
    border-radius: 10px;
    -webkit-box-shadow: 0 0 6px -1px rgba(189, 214, 49, 0.51);
            box-shadow: 0 0 6px -1px rgba(189, 214, 49, 0.51);
    padding-bottom: 20px;
  }
  
  .subcategory_filter_link {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
  }
  .subcategory_filter_link span {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #2b4466;
  }
  
  .catalog_title {
    font-weight: 700;
    color: #2b4466;
  }
  
  .subcategory_filter_link {
    margin-top: 10px !important;
  }
  .filter_item, .custom-control-label {
    font-size: 16px;
    font-weight: 500;
  }
  
  .input_filter {
    width: 35%;
    font-size: 16px;
    padding: 3px;
    max-width: 120px;
  }
  .custom_border-radius{
    border-radius: 0 10px 10px 0!important;
  }
  .filter_btn{
    background: #2b4466 !important;;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: white!important;
  }
  .filter_btn:hover{
    background: #bdd631 !important;;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #2b4466!important;
  }
  @media (min-width: 420px) and (max-width: 576px) {
    .subcategory_image {
      width: 75px !important;
    }
    .filter_gradient a {
      width: 49% !important;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1280px) {
    .subcategory_image {
      width: 50px;
    }
    .catalog_title {
      font-size: 20px !important;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .subcategory_image {
      width: 70px;
    }
    .catalog_title {
      font-size: 20px !important;
    }
  }
  
  @media screen and (max-width: 768px) {
    .subcategory_image {
      width: 50px;
    }
    .catalog_title {
      font-size: 18px !important;
    }
  }